* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  all: unset;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

ion-icon {
  pointer-events: none;
}

table,
td,
tr,
th,
thead,
tbody,
tfoot {
  font-weight: normal;
}
:root {
  --main-bg-color: white;
  --main-primary-color: #4a4a4a;
  --main-on-emphasis-color: lightgrey;
  --main-on-active-color: yellow;
  --main-light-primary-color: darkgrey;
  --main-dark-primary-color: #222;
  --main-on-primary-color: white;
  --main-surface-color: white;
  --main-on-surface-color: black;
  --main-surface-emphasis-color: #ccc;
  --table-padding: 15px;
  --table-font-size: 15px;
  --table-heading-size: 140px;
  --card-font-size: 27px;

  --space-xxs: 4px;
  --space-xs: 8px;
  --space-sm: 12px;
  --space-md: 16px;
  --space-lg: 32px;

  --font-sm: 0.75rem;
  --font-md: 1rem;
  --font-lg: 1.25rem;
  --font-xl: 1.5rem;
  --fong-xxl: 2rem;

  --border: 1px solid var(--main-dark-primary-color);
  --bs: 0 0 5px rgba(0, 0, 0, 0.25);
}

.clickable {
  cursor: pointer;
}
.clickable:hover {
  color: var(--main-on-emphasis-color);
}

.horizontally-center {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.vertically-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
}

.bar-positioner {
  position: relative;
  width: 80%;
  max-width: 550px;
  min-width: 100px;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.has-tooltip {
  position: relative;
}

.has-tooltip .tooltip-text {
  left: 100%;
  top: 100%;
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}
.has-tooltip:focus .tooltip-text,
.has-tooltip:hover .tooltip-text {
  visibility: visible;
}

.button--unset {
  all: unset;
  cursor: pointer;
}

.tool-bar-button {
  font-size: 20px;
  text-align: center;
  background-color: var(--main-light-primary-color);
  height: 40px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 25px;
  text-align: center;
  position: relative;
}

@media screen and (max-width: 1200px) and (max-height: 1200px) {
  :root {
    --table-padding: 14px;
    --table-font-size: 14px;
    --table-heading-size: 130px;
    --card-font-size: 25px;
  }
}
@media screen and (max-width: 1000px) and (max-height: 1000px) {
  :root {
    --table-padding: 12px;
    --table-font-size: 12px;
    --table-heading-size: 110px;
    --card-font-size: 22px;
  }
}
@media screen and (max-width: 850px) and (max-height: 850px) {
  :root {
    --table-padding: 10px;
    --table-font-size: 10px;
    --table-heading-size: 100px;
    --card-font-size: 20px;
  }
}
